body{
  font-family:Calibri, Arial, sans-serif
}
h1, h2, h3, h4, h5, h6{
  margin:0;
}
:focus { 
  outline-style: none;
  outline-width: 0px;
}

.tx-wizard{
  max-width:600px;
  border:solid #ccc 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;  
}
  .question{
    padding:5px 10px;

    background-color: rgb(62, 182, 202);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgb(255, 255, 255);
    display: block;
    line-height: 21px;
    padding-left: 10px;

  }
  .question h4{
    font-weight:normal;
    font-size:1em;
    display: inline-block;
    font-weight:bold;
  }
  .question p{
    margin:5px 0px;
    display: inline-block;
  }
  .animation{
    overflow:hidden;
  }
  .animation-inner{
    width:200%;
  }
  .animation-inner .answers{
    float:left;
    width:50%;
  }
  .answers h5{
    font-weight:bold;
    font-size:1em;
  }
    .answer{
      padding:10px;
      border-top:solid #ccc 1px;
      background-color: rgb(216, 240, 244);
      display:block;
    }
    .answer:hover{
      cursor:pointer;
      background-color: rgb(184, 233, 241);
    }
    .answer p{
      margin:5px 0px;
    }