/* Frontend */

/*

= Commented because it's rather intrusive
= considering this is the includes/style.css

body{
  font-family:Calibri, Arial, sans-serif
}
h1, h2, h3, h4, h5, h6{
  margin:0;
}
:focus { 
  outline-style: none;
  outline-width: 0px;
}

.tx-wizard{
  max-width:600px;
  border:solid #ccc 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
  .question{
    padding:5px 10px;

    background-color: rgb(62, 182, 202);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgb(255, 255, 255);
    display: block;
    line-height: 21px;
    padding-left: 10px;

  }
  .question h4{
    font-weight:normal;
    font-size:1em;
    display: inline-block;
    font-weight:bold;
  }
  .question p{
    margin:5px 0px;
    display: inline-block;
  }
  .animation{
    overflow:hidden;
  }
  .animation-inner{
    width:200%;
  }
  .animation-inner .answers{
    float:left;
    width:50%;
  }
  .answers h5{
    font-weight:bold;
    font-size:1em;
  }
    .answer{
      padding:10px;
      border-top:solid #ccc 1px;
      background-color: rgb(216, 240, 244);
      display:block;
    }
    .answer:hover{
      cursor:pointer;
      background-color: rgb(184, 233, 241);
    }
    .answer p{
      margin:5px 0px;
    }
*/

/* New backend */

.wizard-node-view{
  background:#ccc;
  margin-right:25px;
  float:left;
  width:350px;
  height:500px;
}

  .add-node{
    margin:25px;
    display:block;
  }

  .wizard-node-tree,
  .wizard-node-tree li{
    list-style:none;
    margin:0;
    padding:0;
  }
  .wizard-node-tree{
    margin:25px 25px;
  }
    .wizard-node-tree li{
      position:relative;
    }
    .wizard-node-tree li > div{
      margin-left:15px;
    }
    .wizard-node-tree li li{
      margin-left:25px;
    }
      .wizard-node-tree a{
        margin-bottom:8px;
        padding:0 10px;
        box-sizing:border-box;
        background-color:#545454;
        display:block;
        height:35px;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        line-height: 35px;
        color:#fff;
        text-decoration:none;
        border-radius:3px;
      }
        .wizard-node-tree li.active > div > a,
        .wizard-node-tree a:hover,
        .wizard-node-tree a.active{
          background-color:#282727;
        }
 
      .wizard-node-tree .add-node-below{
        width:45px;
        min-width:0;
        height:35px;
        background:transparent;
        color:#fff;
        border-left:solid #787878 1px !important;
        font-size:2em;
        font-weight:bold;
        border:0;
        cursor:pointer;
        position:absolute;
        right:0;
        top:0;
        padding:0;
        margin:0;
        background-color:#545454;
      }
        .wizard-node-tree .add-node-below:hover{
          background-color:#282727;
        }


.wizard-node-editor{
  float:left;
}

.wizard-edit-node label.option{
  margin:0;
}
.wizard-edit-node label.option input{
  margin-left:0;
  vertical-align:bottom;
}
.wizard-edit-node fieldset{
  position:relative;
  margin-left:70px;
  margin-bottom:40px;
  padding-left:15px;
}
.wizard-edit-node fieldset legend{
  position:absolute;
  left:-70px;
  top:0;
}
.wizard-edit-node fieldset .ctrlHolder{
  border:none;
}

/* Backend */
#tx-backend #question_wrapper{
  min-width:450px;
  max-width:750px;
  float:left;
  margin-top:37px;
}
#tx-backend #question_wrapper .small{
  width:60px;
}
#tx-backend #question_wrapper .refer-to-url-wrapper .medium{
  width:250px;
}
#tx-backend #question_wrapper .big{
  width:430px;
}
  #tx-backend #question_wrapper .question{
    padding:5px 10px;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #F1F1F1 4%, #E2E2E2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(4%,#F1F1F1), color-stop(100%,#E2E2E2));
    background: -webkit-linear-gradient(top, white 0%,#F1F1F1 4%,#E2E2E2 100%);
    background: -o-linear-gradient(top, white 0%,#F1F1F1 4%,#E2E2E2 100%);
    background: -ms-linear-gradient(top, white 0%,#F1F1F1 4%,#E2E2E2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
    background: linear-gradient(top, white 0%,#F1F1F1 4%,#E2E2E2 100%);
    -webkit-background-clip: padding-box;
    border-top:solid #CECECE 1px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgb(0, 0, 0);
    display: block;
    line-height: 21px;
    padding-left: 10px;
    position:relative;
    min-height:53px;
    border-bottom:solid #CBCBCB 1px;
  }
    #tx-backend #question_wrapper .answers{
      margin-bottom:10px;
    }
    #tx-backend #question_wrapper .answers,
    #tx-backend #question_wrapper .question{
      /*border-left:solid #CBCBCB 1px;
      border-right:solid #CBCBCB 1px;*/
    }
    #tx-backend #question_wrapper .question h4{
      font-weight:normal;
      font-size:1em;
      font-weight:bold;
    }
    #tx-backend #question_wrapper .question p{
      margin:5px 0px;
      display: inline-block;
    }
    #tx-backend #question_wrapper .question .edit_question{
      position:absolute;
      top:5px;
      right:5px;
      width:26px;
      height:26px;
      min-width:0;
      background-repeat:no-repeat;
      background-position:center;
    }
    #tx-backend #question_wrapper .question .delete_question{
      position:absolute;
      top:35px;
      right:5px;
      width:26px;
      height:26px;
      min-width:0;
      background-repeat:no-repeat;
      background-position:center;
    }
  #tx-backend #question_wrapper .answer{
    position:relative;
    padding:10px;
    border-bottom:solid #CBCBCB 1px;
    background:#FAFAFA;
    display:block;
    min-height:44px;
  }
  #tx-backend #question_wrapper .answer:hover{
    background:#f1f1f1;
  }
    #tx-backend #question_wrapper .answer .edit_answer{
      position:absolute;
      top:5px;
      right:5px;
      width:26px;
      height:26px;
      min-width:0;
      background-repeat:no-repeat;
      background-position:center;
    }
      #tx-backend #question_wrapper .edit-answer-form option.new_question{
        font-style:italic;
      }
      #tx-backennd #question_wrapper .elfinder{
        width: 100px;
        line-height: 25px;
      }
    #tx-backend #question_wrapper .answer .delete_answer{
      position:absolute;
      top:35px;
      right:5px;
      width:26px;
      height:26px;
      min-width:0;
      background-repeat:no-repeat;
      background-position:center;
    }
    #tx-backend #question_wrapper .answer h5{
      font-weight:bold;
      font-size:1em;
      color:#333;
      text-shadow:0px 1px 0px #fff;
    }
    #tx-backend #question_wrapper .answer p{
      margin:5px 0px;
    }

#tx-backend #question_list_wrapper{
  width:280px;
  padding-right:15px;
  margin-right:14px;
  float:left;
}
#tx-backend #start_question_wrapper h2,
#tx-backend #question_list_wrapper h2{
  margin:10px 0;
  font-size:13px;
}
  #tx-backend #question_list .placeholder {
    background-color: #CFCFCF;
  }
  #tx-backend #question_list ul{
    margin-left:15px;
  }
  #tx-backend #question_list li{
    list-style:none;
    margin:0;
    margin-top:3px;
    margin-bottom:10px;
  }
  #tx-backend #question_list li:last-child{
    margin-bottom:0px;
  }
  #tx-backend #question_list{
    margin-top:10px;
    padding:10px 10px 10px 10px;
    border-radius:4px 4px 4px 4px;
    -moz-border-radius:4px 4px 4px 4px;
    -webkit-border-radius:4px 4px 4px 4px;
    -webkit-background-clip: padding-box;
    background:#eee;
    border:1px solid #eee;
    /*box-shadow:1px 1px 1px rgba(188,188,188,1) inset; */
    padding-right:5px;
    overflow-x:hidden;
    overflow-y:auto;
  }
    #tx-backend #question_list li.untitled a,
    #tx-backend #question_list li.new_question a{
      display:inline-block;
    }
    #tx-backend #question_list li.question a{
      display:block;
      text-decoration:none;
      line-height:25px;
      padding:0 10px;
      border-radius:4px 4px 4px 4px;
      -moz-border-radius:4px 4px 4px 4px;
      -webkit-border-radius:4px 4px 4px 4px;
      -webkit-background-clip: padding-box;
      color:#515151;
      background: #666666; /* Old browsers */
      background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 4%, #ffffff 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#e3e3e3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, #ffffff 0%,#e3e3e3 4%,#ffffff 100%); /* W3C */
      border:1px solid #bcbcbc;
    }

    #tx-backend #question_list li.question.active > div > a{
      display:block;
      text-decoration:none;
      color:#fff;
      line-height:25px;
      padding:0 10px;
      border-radius:4px 4px 4px 4px;
      -moz-border-radius:4px 4px 4px 4px;
      -webkit-border-radius:4px 4px 4px 4px;
      -webkit-background-clip: padding-box;
      background: #666666; /* Old browsers */
      font-weight:bold;
      text-shadow:1px 1px 0px rgba(0,0,0,0.8);
      background: -moz-linear-gradient(top, #52575f 0%, #343943 4%, #343943 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52575f), color-stop(2%,#343943), color-stop(100%,#343943)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52575f', endColorstr='#343943',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* W3C */
      border:1px solid #515151;
    }
    #tx-backend #question_list li.question a:hover{
      background:#fff;
      text-decoration:none;
      font-weight:normal;
      color:#515151;
      text-shadow:none;
      border:1px solid #bcbcbc;
    }
    #tx-backend #question_list .new_question a{
      display:block;
      text-decoration:none;
      color:#fff;
      line-height:25px;
      padding:0 10px;
      border-radius:4px 4px 4px 4px;
      -moz-border-radius:4px 4px 4px 4px;
      -webkit-border-radius:4px 4px 4px 4px;
      -webkit-background-clip: padding-box;
      background: #666666; /* Old browsers */
      font-weight:bold;
      text-shadow:1px 1px 0px rgba(0,0,0,0.8);
      background: -moz-linear-gradient(top, #52575f 0%, #343943 4%, #343943 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52575f), color-stop(2%,#343943), color-stop(100%,#343943)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* Opera11.10+ */
      background: -ms-linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* IE10+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52575f', endColorstr='#343943',GradientType=0 ); /* IE6-9 */
      background: linear-gradient(top, #52575f 0%,#343943 4%,#343943 100%); /* W3C */
      border:1px solid #515151;
    }

#save-page{
  display:none;
}
.label{
  display: inline-block;
  padding: .2em .6em .3em !important;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label-info{
  background-color: #5bc0de;
}
.label-default{
  background-color: #999;
}

.wizard-node-view {
  overflow:auto;
}
.wizard-node-tree a{
  line-height:22px;
}
.wizard-node-tree small{
  display:block;
  font-size:0.8em;
  margin-top:-9px;
}
.option-based{
  padding: 15px;
}
.option-based.active{
  border-radius: 5px;
  background: #eee;
}
.option-based .label{
  margin-top:17px;
}

/**/

.wizard-node-tree li.collapsed ul{
  display: none;
}

.wizard-node-tree .icon-toggle{
  display: none;
  position: absolute;
  left:-7px;
  height:33px !important;
  opacity:0.75;
}
.wizard-node-tree .icon-toggle:hover{
  opacity:1;
}

.wizard-node-tree:hover li.has-sub > div > .icon-toggle{
  display:block !important;
  cursor:pointer !important;
  background-position:5px 10px !important;
}
.wizard-node-tree:hover li.has-sub > ul > .has-sub .icon-toggle{
  left:0px !important;
  height:24px !important;
  background-position:0px 5px !important;
}

.wizard-node-tree:hover .icon-collapse{
  background-image:url('../../../themes/cms_backend/img/icons/left-menu-arrow-square.png');
}

.wizard-node-tree:hover .icon-expand{
  background-image:url('../../../themes/cms_backend/img/icons/left-menu-arrow-collapse-square.png');
}
